apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
- ingress.yaml
images:
- name: chouqe/profstankin-frontend
  newName: chouqe/profstankin-front
  newTag: a4a868b
